{{>header}}

<div class="email">

<div class="header" data-rawheader="{{rawheader}}">
<dl class="header_parsed">
<dt>Received:</dt><dd>{{receivedAt}}</dd>
<dt>From:</dt><dd>{{from}}</dd>
<dt>Subject:</dt><dd><strong>{{subject}}</strong></dd>
<dt>To:</dt><dd>{{simple_to}}</dd>
</dl>
</div>

<div class="body" data-rawbody="{{rawbody}}">
{{#bodies}}
	{{{html}}}
{{/bodies}}
</div>

</div>

{{>footer}}
