<div class="email">

<div class="header" data-rawheader="{{rawheader}}">
<dl class="header_parsed">
<dt>From:</dt><dd>{{from}}</dd>
<dt>Subject:</dt><dd><strong>{{subject}}</strong></dd>
<dt>To:</dt><dd>{{to}}</dd>
</dl>
</div>

<div class="bodies" data-rawbody="{{rawbody}}">
{{#bodies}}
<div class="raw">{{body}}</div>
{{/bodies}}
</div>

</div>