<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{{title}}</title>
<link rel="stylesheet" href="/static/mocksmtp.css" />
<script src="/static/jquery-1.7.1.min.js"></script>
<script src="/static/mocksmtp.js"></script>
{{{headers}}
</head>
<body>
<h1>{{title}}</h1>

{{{body}}}

</body>
</html>